<footer class="footer">
  <div class="container footer__grid">
    <div>
      <div class="footer__brand">
        <svg width="22" height="22" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M12 2C7 2 3 6 3 11c0 5.5 4.5 9.5 8.4 10.8.4.1.8.1 1.2 0C16.5 20.5 21 16.5 21 11c0-5-4-9-9-9z" fill="#4ade80"/>
        </svg>
        LeafScan AI
      </div>
      <p class="footer__tagline">Deteksi penyakit tanaman berbasis AI untuk pertanian yang lebih sehat dan produktif.</p>
    </div>

    <div>
      <div class="footer__judul">Link Cepat</div>
      <ul class="footer__daftar">
        <li><a href="{{ url_for('index') }}">Deteksi</a></li>
        <li><a href="#">Penyakit</a></li>
        <li><a href="#">Tips &amp; Panduan</a></li>
      </ul>
    </div>

    <div>
      <div class="footer__judul">Tentang</div>
      <ul class="footer__daftar">
        <li><a href="#">Tentang Kami</a></li>
        <li><a href="#">Kebijakan Privasi</a></li>
        <li><a href="#">Kontak</a></li>
      </ul>
    </div>
  </div>

  <div class="container footer__bawah">
    &copy; 2026 LeafScan AI. All rights reserved.
  </div>
</footer>
